@import 'tailwindcss';
@plugin "daisyui";

* {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	@apply bg-base-200 p-4;
}

.panel {
	@apply flex flex-col gap-6;
}

.form {
	@apply flex flex-col gap-2;
}

.fieldset {
	@apply bg-base-100 border-base-300 rounded-box w-full border p-4 shadow-xs;
}

.submit {
	@apply btn btn-primary btn-wide;
	cursor: pointer;
}

.submit--danger {
	@apply bg-red-700 hover:bg-red-600;
}

.result {
	@apply bg-base-100 border-base-300 rounded-box w-full border p-4 text-lg font-semibold shadow-xs;
}

.aspect-table {
	display: none;
}

.aspect-table th,
.aspect-table td {
	display: inline-grid;
	width: 5rem;
	aspect-ratio: 1/1;
	place-content: center;
}

.table-container {
	@apply rounded-box border-base-300 bg-base-100 overflow-x-auto border shadow-xs;
}

.table th + th,
.table td + td {
	border-left: 1px solid var(--color-base-300);
	min-width: 10%;
}

.floatingchat-container {
	width: 300px !important;
}
