@import 'tailwindcss';
@plugin "daisyui";

* {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	@apply bg-base-200 p-4;
}

.wrapper {
	@apply flex min-h-screen flex-col items-center justify-center;
}

.container {
	@apply mx-auto mb-16 max-w-4xl rounded bg-white p-6 shadow;
}

.tab-wrapper {
	@apply mb-4 border-b border-gray-200 text-center text-sm font-medium text-gray-500;
}

.tab-container {
	@apply -mb-px flex flex-wrap;
}

.tab {
	@apply inline-block p-2;
	cursor: pointer;
}

.tab--inactive {
	@apply rounded-t-lg border-b-2 border-transparent hover:border-gray-300 hover:text-gray-600;
}

.tab--active {
	@apply rounded-t-lg border-b-2 border-blue-600 text-blue-600;
}

.title {
	@apply mb-4 text-2xl font-bold;
}

.form {
	@apply flex min-h-screen flex-col justify-center gap-2;
}

.submit {
	@apply btn btn-primary btn-wide;
	cursor: pointer;
}

.submit--danger {
	@apply bg-red-700 hover:bg-red-600;
}

.result {
	@apply mt-6 text-lg font-semibold;
}

.aspect-table {
	display: none;
}

.aspect-table th,
.aspect-table td {
	display: inline-grid;
	width: 5rem;
	aspect-ratio: 1/1;
	place-content: center;
}

.house-placements-fields {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

@media screen and (max-width: 780px) {
	.house-placements-fields {
		flex-direction: column;
	}
}

.almutem-table {
	border-collapse: separate;
	border-spacing: 0;
	min-width: 100%;
	table-layout: fixed;
	font-weight: 400;
}
.almutem-table tr th,
.almutem-table tr td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 5px;
	min-width: 10%;
}

.almutem-table tr th:first-child,
.almutem-table tr td:first-child {
	border-left: 1px solid #bbb;
	min-width: 30%;
}
.almutem-table tr th {
	background: #eee;
	border-top: 1px solid #bbb;
	text-align: left;
}
.almutem-table tr td {
	background: #fff;
}
/* top-left border-radius */
.almutem-table tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

/* top-right border-radius */
.almutem-table tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.almutem-table tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.almutem-table tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}

.floatingchat-container {
	width: 300px !important;
}
