@import 'tailwindcss';
@plugin "daisyui";

@font-face {
	font-family: 'Astronomicon';
	src: url(/Astronomicon.ttf);
	font-display: swap;
}

.font-astronomicon {
	font-family: 'Astronomicon', sans-serif;
	line-height: 1;
}

* {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

body {
	@apply bg-base-300 p-5 pb-20;
}

.panel {
	@apply -mt-4 flex flex-col gap-6;
}

.form {
	@apply flex flex-col gap-2;
}

.fieldset {
	@apply bg-base-100 border-base-300 rounded-box w-full border p-4 shadow-xs;
}

.submit {
	@apply btn btn-primary btn-wide;
	cursor: pointer;
}

.submit--danger {
	@apply bg-red-700 hover:bg-red-600;
}

.result {
	@apply bg-base-100 border-base-300 rounded-box w-full border p-4 text-lg font-semibold shadow-xs;
}

.aspect-table {
	display: none;
}

.aspect-table th,
.aspect-table td {
	display: inline-grid;
	width: 5rem;
	aspect-ratio: 1/1;
	place-content: center;
}

.table-container {
	@apply rounded-box border-base-300 bg-base-100 overflow-x-auto border shadow-xs;
}

.table th + th,
.table td + td {
	border-left: 1px solid var(--color-base-300);
	min-width: 10%;
}

.table-speculum {
	line-height: 1;
}

.table-speculum th + th,
.table-speculum td + td {
	width: 7.5%;
	min-width: 7.5%;
}

.table-speculum th:nth-child(1),
.table-speculum th:nth-child(14),
.table-speculum td:nth-child(1),
.table-speculum td:nth-child(14) {
	width: 5%;
	min-width: 5%;
}

.floatingchat-container {
	width: 300px !important;
}
